common_services/common_logic_ear/src/test/resources/xsd/rest/user-account/0.3/user-account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Harald Kappus (DV Consulting) -->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.3"
	xmlns:user-account="http://www.escidoc.de/schemas/useraccount/0.3"
	targetNamespace="http://www.escidoc.de/schemas/useraccount/0.3"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd" />
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd" />
	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.3"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/common-types.xsd" />
	<xs:element name="user-account">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional",
					"not-allowed" or will be "discarded" in the input
					XML-stream when creating or updating such an object.
				</para>
				<para>
					In "create" the rule for creating a new object is
					defined.
				</para>
				<para>
					In "update" the rule for updating an object is
					defined.
				</para>
				<para>
					Possible values are: required | optional |
					not-allowed | discarded
				</para>
				<para>
					required: this element or attribute has to be
					delivered
				</para>
				<para>
					optional: this element or attribute can be delivered
					and will be kept
				</para>
				<para>
					not-allowed: this element or attribute is not
					allowed in delivery and will cause an exception
				</para>
				<para>
					discarded: this element or attribute can be
					delivered but will not be used
				</para>
			</xs:documentation>
			<xs:documentation>
				<create>required</create>
				<update>required</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="properties">
					<xs:annotation>
						<xs:documentation>
							<create>required</create>
							<update>required</update>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="creation-date"
								type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>discarded</create>
										<update>discarded</update>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="created-by"
								type="common-types:readOnlyLink" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>discarded</create>
										<update>discarded</update>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="modified-by"
								type="common-types:readOnlyLink" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>discarded</create>
										<update>discarded</update>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="email" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>optional</create>
										<update>optional</update>
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="name">
								<xs:annotation>
									<xs:documentation>
										<create>required</create>
										<update>required</update>
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="login-name">
								<xs:annotation>
									<xs:documentation>
										<create>required</create>
										<update>required</update>
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction
										base="xs:normalizedString">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="active" type="xs:boolean"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>
											discarded (see note 1.)
										</create>
										<update>
											discarded (see note 1.)
										</update>
										<comment>
											1. A created user account is
											always active. It is not
											possible to activate or
											deactivate a user account
											using the update method.
											This can only be done by
											using the activate() and
											deactivate() methods.
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="person"
								type="common-types:linkRequired" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>discarded (see note 1.)</create>
										<update>discarded (see note 1.)</update>
										<comment>
											1. Currently, the person resource
											does not exist and this element is
											ignored.
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organizational-units"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>optional</create>
										<update>
											optional (see note 2.)
										</update>
										<comment>
											2. If this element is not
											provided during update, all
											organizational units are
											removed from the user
											account.
										</comment>
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element
											name="organizational-unit" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													<create>
														required
													</create>
													<update>
														required
													</update>
													<comment>
														At least one
														organizational-unit
														element must
														exist if the
														parent element
														organizational-units
														exist. To remove
														all
														organizational
														unit during
														update, the
														parent element
														organizational-units
														has to be
														removed. One
														organizational-unit
														must be marked
														as the primary
														organizational
														unit of the
														user.
													</comment>
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension
														base="common-types:linkRequired">
														<xs:attribute
															name="primary" type="xs:boolean" use="optional"
															default="false" />
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="user-account:resources" minOccurs="0" />
			</xs:sequence>
			<xs:attribute ref="xlink:href">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:title">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:type">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:base">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="last-modification-date"
				type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>required</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="resources">
		<xs:annotation>
			<xs:documentation>
				<create>discarded</create>
				<update>discarded</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="current-grants"
					type="common-types:readOnlyLink">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xlink:href">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:title">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:type">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="last-modification-date">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded (see note 3.)</update>
						<comment>
							3. This attribute is contained if the
							resources element is retrieved as a sub
							resource. It is not contained in the
							resources element within the user-account
							element.
						</comment>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:base">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded (see note 4.)</update>
						<comment>
							4. This attribute is contained if the
							resources element is retrieved as a sub
							resource. It is not contained in the
							resources element within the user-account
							element.
						</comment>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
