common_logic/src/main/resources/xsd/rest/content-model/0.1/content-model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Changes applied to this schema:

	September, 2009
	- schema created
	
-->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.escidoc.de/schemas/contentmodel/0.1"
	xmlns:content-model="http://www.escidoc.de/schemas/contentmodel/0.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:content-streams="http://www.escidoc.de/schemas/contentstreams/0.7"
	xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.4"
	xmlns:prop="http://escidoc.de/core/01/properties/"
	xmlns:srel="http://escidoc.de/core/01/structural-relations/"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	>
	
	<xs:import
		namespace="http://www.escidoc.de/schemas/contentstreams/0.7"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.7/content-streams.xsd" />
	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/common-types.xsd" />
	<xs:import namespace="http://escidoc.de/core/01/properties/"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/properties.xsd" />
	<xs:import
		namespace="http://escidoc.de/core/01/structural-relations/"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/structural-relations.xsd" />
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/xml.xsd" />
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd" />
	
	<xs:element name="content-model">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional",
					"not-allowed" or will be "discarded" in the input
					XML-stream when creating or updating such an object.
				</para>
				<para>
					In "create" the rule for creating a new object is
					defined.
				</para>
				<para>
					In "update" the rule for updating an object is
					defined.
				</para>
				<para>
					Possible values are: required | optional |
					not-allowed | discarded
				</para>
				<para>
					required: this element or attribute has to be
					delivered
				</para>
				<para>
					optional: this element or attribute can be delivered
					and will be kept
				</para>
				<para>
					not-allowed: this element or attribute is not
					allowed in delivery and will cause an exception
				</para>
				<para>
					discarded: this element or attribute can be
					delivered but will not be used; the system will
					generate a value which is delivered in this element
					or attribute when retrieved
				</para>
			</xs:documentation>
			<xs:documentation>
				<create>required</create>
				<update>required</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="content-model:properties" />
				<!-- inline, in order not to imply listbehavior that must be removed later-->
				<xs:element name="md-record-definitions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="md-record-definition" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
									<xs:element name="schema">
										<xs:complexType>
											<xs:attribute ref="xlink:type"
												fixed="simple">
												<xs:annotation>
													<xs:documentation>
														<create>discarded</create>
														<update>discarded</update>
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="xlink:title">
											<xs:annotation>
												<xs:documentation>
													<create>discarded</create>
													<update>discarded</update>
												</xs:documentation>
											</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="xlink:href">
												<xs:annotation>
													<xs:documentation>
														<create>optional</create>
														<update>optional</update>
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									</xs:sequence>
									<xs:attribute name="name">
										<xs:annotation>
							            	<xs:documentation>
							            		<create>required</create>
							            		<update>required</update>
							            	</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NCName">
												<xs:maxLength value="64" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="resource-definitions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resource-definition" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xslt">
											<xs:complexType>
											<xs:attribute ref="xlink:type"
												fixed="simple">
												<xs:annotation>
													<xs:documentation>
														<create>discarded</create>
														<update>discarded</update>
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="xlink:title">
											<xs:annotation>
												<xs:documentation>
													<create>discarded</create>
													<update>discarded</update>
												</xs:documentation>
											</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="xlink:href">
												<xs:annotation>
													<xs:documentation>
														<create>optional</create>
														<update>optional</update>
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="md-record-name">
											<xs:simpleType>
												<xs:restriction base="xs:NCName">
													<xs:maxLength value="64" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name">
										<xs:annotation>
							            	<xs:documentation>
							            		<create>required</create>
							            		<update>required</update>
							            	</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:NCName">
												<xs:maxLength value="64" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="content-streams:content-streams" minOccurs="0" />
				<xs:element ref="content-model:resources" minOccurs="0" />
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
	<xs:element name="properties">
		<xs:annotation>
			<xs:documentation>
				<create>required</create>
				<update>required</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prop:name">
					<xs:annotation>
						<xs:documentation>
							<create>required</create>
							<update>required</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:description">
					<xs:annotation>
						<xs:documentation>
							<create>required</create>
							<update>required</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:creation-date">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="srel:created-by">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:public-status">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:public-status-comment">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:lock-status">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:lock-date">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="srel:lock-owner">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:pid">
					<xs:annotation>
						<xs:documentation>
							<create>optional</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:version">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:latest-version">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" ref="prop:latest-release">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
  <xs:element name="resources">
    <xs:annotation>
      <xs:documentation><create>discarded</create><update>discarded</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="version-history">
          <xs:annotation>
            <xs:documentation><create>discarded</create><update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"/>
      <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
