common_services/common_logic/src/main/resources/xsd/rest/organizational-unit/0.4/organizational-unit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Changes applied to this schema since Version 0.3:
	- Version changed to 0.4.
	
	- Changed namespace (both xmlns and targetNamespace) to http://www.escidoc.de/schemas/organizationalunit/0.4.
	
	- Changed namespaces of referenced schema  http://www.escidoc.de/schemas/commontypes/0.4
	
	- Added namespace of referenced schemas
	  http://www.escidoc.de/schemas/metadatarecords/0.4
	  http://escidoc.de/core/01/properties/
	  http://escidoc.de/core/01/structural-relations/
	
	- Replaced rest attributes (xlink:type, xlink:title, xlink:href, xml:base) with references to appropriate attribute groups in common-types.xsd.
	
	- Changed namespaces of contents of the element /organizational-uni/properties 
	  to http://escidoc.de/core/01/properties/ for following elements:
	  * creation-date,
	  * description,
	  * has-children
	  * name,  
	  * public-status
	  
	  to http://escidoc.de/core/01/structural-relations/ for following elements:
	  * created-by
	  * modified-by
	  
	- All public-status elements now have the same type with the same value range (defined in properties.xsd).    

    - The element parents (contained in resources element) has been replaced by an element called parentObjects.
    - The element children (contained in resources element) has been replaced by an element called ChildObjects.

	- The element organization-details has been replaced by a set of metadata-records. At least a metadata record 
	  with attribute name='escidoc' is mandatory. To be able to extract the name of the organizational unit the 
	  mandatory must contain at least a 'http://purl.org/dc/elements/1.1/:title' element, if a description is 
	  desired there must be a 'http://purl.org/dc/elements/1.1/:description' element.
	  
	- The element parent-ous has been replaced by an element called parents.
	- The element parent-ou has been replaced by an element called parent.
-->
<xs:schema
	targetNamespace="http://www.escidoc.de/schemas/organizationalunit/0.4"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.4"
	xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.4"
	xmlns:organizational-unit="http://www.escidoc.de/schemas/organizationalunit/0.4"
	xmlns:prop="http://escidoc.de/core/01/properties/"
	xmlns:srel="http://escidoc.de/core/01/structural-relations/">


	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd" />
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd" />

	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/common-types.xsd" />
	<xs:import
		namespace="http://www.escidoc.de/schemas/metadatarecords/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/md-records.xsd" />
	<xs:import namespace="http://escidoc.de/core/01/properties/"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/properties.xsd" />
	<xs:import
		namespace="http://escidoc.de/core/01/structural-relations/"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/structural-relations.xsd" />

	<!-- This xsd is used in the API of Organizational Units; REST interface -->
	<xs:element name="organizational-unit">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional",
					"not-allowed" or will be "discarded" in the input
					XML-stream when creating or updating such an object.
				</para>
				<para>
					In "create" the rule for creating a new object is
					defined.
				</para>
				<para>
					In "update" the rule for updating an object is
					defined.
				</para>
				<para>
					Possible values are: required | optional |
					not-allowed | discarded
				</para>
				<para>
					required: this element or attribute has to be
					delivered
				</para>
				<para>
					optional: this element or attribute can be delivered
					and will be kept
				</para>
				<para>
					not-allowed: this element or attribute is not
					allowed in delivery and will cause an exception
				</para>
				<para>
					discarded: this element or attribute can be
					delivered but will not be used
				</para>
			</xs:documentation>
			<xs:documentation>
				<create>required</create>
				<update>required</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="organizational-unit:properties"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="organizational-unit:resources"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="md-records:md-records" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							<create>required</create>
							<update>required</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="organizational-unit:parents"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>optional</create>
							<update>optional</update>
							<comment>
								The list of parents is updated with this
								list.
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
	<xs:element name="properties">
		<xs:annotation>
			<xs:documentation>
				<create>discarded</create>
				<update>discarded</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prop:creation-date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="srel:created-by" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="srel:modified-by" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="prop:public-status" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="prop:name" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="prop:description" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="prop:has-children" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
	<xs:element name="resources">
		<xs:annotation>
			<xs:documentation>
				<create>discarded</create>
				<update>discarded</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parent-objects"
					type="common-types:readOnlyLink">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="child-objects"
					type="common-types:readOnlyLink">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="path-list"
					type="common-types:readOnlyLink">
					<xs:annotation>
						<xs:documentation>
							<create>discarded</create>
							<update>discarded</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
	<xs:element name="parents">
		<xs:annotation>
			<xs:documentation>
				<create>optional</create>
				<update>optional</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="srel:parent" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							<create>optional</create>
							<update>optional</update>
							<comment>
								The list of parents is updated with this
								list.
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
	</xs:element>
</xs:schema>
