common_services/citationmanager/src/main/resources/DataSources/item.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 12 users (FIZ Karlsruhe) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.2" xmlns:relations="http://www.escidoc.de/schemas/relations/0.2" xmlns:components="http://www.escidoc.de/schemas/components/0.2" xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:item="http://www.escidoc.de/schemas/item/0.2" targetNamespace="http://www.escidoc.de/schemas/item/0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../common/0.2/xlink.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/metadatarecords/0.2" schemaLocation="../../common/0.2/md-records.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/relations/0.2" schemaLocation="../../common/0.2/relations.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/components/0.2" schemaLocation="../../item/0.2/components.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.2" schemaLocation="../../common/0.2/common-types.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../common/0.2/xml.xsd"/>
	<xs:element name="item">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional" and "not
					allowed" in the input XML-stream when creating or
					updating such an object. Also there is information
					which elements and attributes are contained in the
					output XML-stream. Each element and attribute
					contains rules for that which are formulated using
					the following notation:
				</para>
				<para>
					"create" defines the rules for creating a new
					object.
				</para>
				<para>
					"update" defines the rules for updating an object.
				</para>
				<para>
					"input" is used to specify whether this element or
					attribute is "mandatory", "optional" or "not
					allowed" in the input-XML-stream.
				</para>
				<para>
					"output" uses the tokens "kept", "updated" and "new"
					to specify that the value in the output-XML is "the
					same as it was in input"”, "was changed” or "was
					created".
				</para>
				<para>
					Values of "input" are: required | optional | not
					allowed
				</para>
				<para>
					Values of "output" are: kept | updated | new
				</para>
			</xs:documentation>
			<xs:documentation>
				For element item:
				<create>
					<input>required</input>
					<output>kept</output>
				</create>
				<update>
					<input>required</input>
					<output>kept</output>
				</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item:properties"/>
				<xs:element ref="item:resources" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							This section is "read-only"
							<create>
								<input>not allowed</input>
								<output>new</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="md-records:md-records">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>see notes</input>
								<output>NULL/kept</output>
							</create>
							<update>
								<input>see notes</input>
								<output>NULL/kept</output>
							</update>
							<comment>
								required if one element "md-record"
								exists
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="relations:relations" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
							<comment>
								required for update if one child element
								exists
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="components:components" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>see notes</input>
								<output>NULL/kept</output>
							</create>
							<update>
								<input>see notes</input>
								<output>NULL or kept</output>
							</update>
							<comment>
								required if one element "component"
								exists
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xlink:type">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>optional</input>
							<output>kept/new</output>
						</create>
						<update>
							<input>optional</input>
							<output>kept/new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:href">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>optional</input>
							<output>kept/new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xlink:title">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>required</input>
							<output>kept</output>
						</create>
						<update>
							<input>optional</input>
							<output>updated</output>
						</update>
						<comment>
								should be set from metadata (not in this release)
							</comment>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="objid">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>optional</input>
							<output>kept/new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:base">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>optional</input>
							<output>kept/new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="last-modification-date" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>required</input>
							<output>new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="status-types">
		<xs:restriction base="xs:token">
			<xs:enumeration value="pending"/>
			<xs:enumeration value="submitted"/>
			<xs:enumeration value="in-revision"/>
			<xs:enumeration value="released"/>
			<xs:enumeration value="withdrawn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="valid-status-types">
		<xs:restriction base="xs:token">
			<xs:enumeration value="valid"/>
			<xs:enumeration value="invalid"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lock-status-types">
		<xs:restriction base="xs:token">
			<xs:enumeration value="locked"/>
			<xs:enumeration value="unlocked"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="properties">
		<xs:annotation>
			<xs:documentation>
				This section is "read-only" whith the exception of the
				element "content-type-specific"
				<create>
					<input>required</input>
					<output>updated</output>
				</create>
				<update>
					<input>required</input>
					<output>updated</output>
				</update>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="creation-date" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="context" type="common-types:laxLinkSetByUser">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>required</input>
								<output>kept</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="content-type" type="common-types:laxLinkSetByUser">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>required</input>
								<output>kept</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="creator" type="common-types:laxLink" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lock-status" type="item:lock-status-types" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new value: "unlocked"</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lock-date" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>kept</output>
							</update>
							<comment>
								required if the item is locked
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lock-owner" type="common-types:laxLink" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>kept</output>
							</update>
							<comment>
								required if the item is locked
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" type="item:status-types" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new value: "pending"</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pid" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>kept</output>
							</update>
							<comment>
								required if the PID was delivered
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="withdrawal-date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>see notes</output>
							</update>
							<comment>
								if status="withdrawn" no update can be
								performed
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="withdrawal-comment" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>see notes</output>
							</update>
							<comment>
								if status="withdrawn" no update can be
								performed
							</comment>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="current-version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number" type="xs:int">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="date" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="version-status" type="item:status-types">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="valid-status" type="item:valid-status-types">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="modified-by" type="common-types:laxLink">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>kept</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="pid" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>NULL</output>
										</create>
										<update>
											<input>see notes</input>
											<output>kept</output>
										</update>
										<comment>
											parent is not allowed for create, required for update if delivered otherwise not allowed
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="xlink:href">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:title">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:type" use="optional">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>kept/new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="objid">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="latest-version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>new</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number" type="xs:int">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="date" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="xlink:href">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:title">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:type" use="optional">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>optional</input>
										<output>kept/new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="objid">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>see notes</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
									<comment>
											parent is not allowed for create
										</comment>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="latest-release" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>not allowed</input>
								<output>NULL</output>
							</create>
							<update>
								<input>see notes</input>
								<output>kept</output>
							</update>
							<comment>
								required if delivered
							</comment>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number" type="xs:int">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="date" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>new</output>
										</create>
										<update>
											<input>required</input>
											<output>new</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="pid">
								<xs:annotation>
									<xs:documentation>
										<create>
											<input>see notes</input>
											<output>NULL</output>
										</create>
										<update>
											<input>required</input>
											<output>kept</output>
										</update>
										<comment>
											parent is not allowed for create
										</comment>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="xlink:href">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>not allowed</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:title">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>not allowed</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute ref="xlink:type" use="optional">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>optional</input>
										<output>kept/new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="objid">
							<xs:annotation>
								<xs:documentation>
									<create>
										<input>not allowed</input>
										<output>new</output>
									</create>
									<update>
										<input>optional</input>
										<output>kept/new</output>
									</update>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="content-type-specific">
					<xs:annotation>
						<xs:documentation>
							<create>
								<input>required</input>
								<output>kept</output>
							</create>
							<update>
								<input>required</input>
								<output>kept</output>
							</update>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="common-types:laxESciDocResourceLocationAttributes"/>
			<xs:attribute name="last-modification-date" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>required</input>
							<output>new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:base">
				<xs:annotation>
					<xs:documentation>
						<create>
							<input>not allowed</input>
							<output>new</output>
						</create>
						<update>
							<input>optional</input>
							<output>kept/new</output>
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence/>
			<xs:attributeGroup ref="common-types:laxESciDocResourceLocationAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>