common_logic/src/main/resources/xsd/rest/organizational-unit/0.3/organizational-unit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:organizational-unit="http://www.escidoc.de/schemas/organizationalunit/0.3"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    targetNamespace="http://www.escidoc.de/schemas/organizationalunit/0.3"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink"
        schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd"/>
    
    
    <!-- This xsd is used in the API of Organizational Units; REST interface -->
    <xs:element name="organizational-unit">
        <xs:annotation>
            <xs:documentation>
                <para> Following you will find information which elements and
                    attributes are "required", "optional", "not-allowed" or
                    will be "discarded" in the input XML-stream when creating or
                    updating such an object. </para>
                <para> In "create" the rule for creating a new object is defined.
                    </para>
                <para> In "update" the rule for updating an object is defined.
                    </para>
                <para> Possible values are: required | optional | not-allowed |
                    discarded </para>
                <para> required: this element or attribute has to be delivered
                    </para>
                <para> optional: this element or attribute can be delivered and
                    will be kept </para>
                <para> not-allowed: this element or attribute is not allowed in
                    delivery and will cause an exception </para>
                <para> discarded: this element or attribute can be delivered but
                    will not be used </para>
            </xs:documentation>
            <xs:documentation>
                <create>required</create>
                <update>required</update>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="organizational-unit:properties"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="organizational-unit:resources"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element
                    ref="organizational-unit:organization-details">
                    <xs:annotation>
                        <xs:documentation>
                            <create>required</create>
                            <update>required</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="organizational-unit:parent-ous"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                            <comment> The list of parents is updated with this
                                list. </comment>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:href">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:title">
                <xs:annotation>
                    <xs:documentation>
                        <create> discarded (see note 1.) </create>
                        <update> discarded (see note 1.) </update>
                        <comment> 1. The title will be created of
                            "organization-details.name" </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:type">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="last-modification-date">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="status-types">
        <xs:restriction base="xs:token">
            <xs:enumeration value="created"/>
            <xs:enumeration value="opened"/>
            <xs:enumeration value="closed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="properties">
        <xs:annotation>
            <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creation-date" type="xs:dateTime"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="created-by" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="modified-by" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="public-status"
                    type="organizational-unit:status-types"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="has-children" type="xs:boolean"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xlink:href">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:type">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:title">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="last-modification-date">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                        <comment> 1. This attribute is contained if the
                            properties element is retrieved as 
                            a sub resource. It is not contained in the 
                            properties element element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xml:base">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="resources">
        <xs:annotation>
            <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parents">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="children">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="path-list">
                    <xs:annotation>
                        <xs:documentation>
                            <create>discarded</create>
                            <update>discarded</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xlink:href">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:type">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:title">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="last-modification-date">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                        <comment> 1. This attribute is contained if the
                            resourcess element is retrieved as 
                            a sub resource. It is not contained in the 
                            resourcess element element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xml:base">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                        <comment> 1. This attribute is contained if the
                            resources element is retrieved as a sub resource. It
                            is not contained in the resources element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="organization-details">
        <xs:annotation>
            <xs:documentation>
                <create>discarded</create>
                <update>discarded</update>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abbreviation"
                    type="xs:normalizedString">
                    <xs:annotation>
                        <xs:documentation>
                            <create>required</create>
                            <update>required</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="name" type="xs:normalizedString">
                    <xs:annotation>
                        <xs:documentation>
                            <create>required</create>
                            <update>required</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="uri" type="xs:token" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="organization-type"
                    type="xs:normalizedString" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="description" type="xs:string"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="external-id" type="xs:token"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="postcode" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="country" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="region" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="address" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="city" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="telephone" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="fax" type="xs:normalizedString"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="email" type="xs:token" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="geo-coordinate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="location-longitude"
                                type="xs:token">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>optional</create>
                                        <update>optional</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="location-latitude"
                                type="xs:token">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>optional</create>
                                        <update>optional</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xlink:href">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:type">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:title">
                <xs:annotation>
                    <xs:documentation>
                        <create> discarded (will be created of
                            "organization-details.name") </create>
                        <update> discarded (will be created of
                            "organization-details.name") </update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="last-modification-date">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                        <comment> 1. This attribute is contained if the
                            organization-details element is retrieved as 
                            a sub resource. It is not contained in the 
                            organization-details element element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xml:base">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="parent-ous">
        <xs:annotation>
            <xs:documentation>
                <create>optional</create>
                <update>optional</update>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parent-ou" minOccurs="0"
                    maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            <create>optional</create>
                            <update>optional</update>
                            <comment> The list of parents is updated with this
                                list. </comment>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute ref="xlink:title">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>discarded</create>
                                    <update>discarded</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:href">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>required</create>
                                    <update>required</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute ref="xlink:type">
                            <xs:annotation>
                                <xs:documentation>
                                    <create>required</create>
                                    <update>required</update>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xlink:title">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>discarded</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:type">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xlink:href">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required</update>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="last-modification-date">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 1.)</update>
                        <comment> 1. This attribute is contained if the
                            parent-ous element is retrieved as 
                            a sub resource. It is not contained in the 
                            organization-details element element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="xml:base">
                <xs:annotation>
                    <xs:documentation>
                        <create>discarded</create>
                        <update>required (see note 2.)</update>
                        <comment> 2. This attribute is contained if the
                            parent-ous element is retrieved as 
                            a sub resource. It is not contained in the 
                            organization-details element element within the
                            organizational-unit element. </comment>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
