transformationManager/src/main/resources/dtd/cals/calstbl.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!ENTITY % tbl.tgroup.att " tgroupstyle CDATA  #IMPLIED">

<!ENTITY % tbl.table.att " tabstyle   CDATA  #IMPLIED
   tocentry   CDATA  #IMPLIED
   shortentry CDATA  #IMPLIED
   orient            (port | land )  #IMPLIED
   pgwide     CDATA  #IMPLIED">

<!ENTITY % entry.attlist " colname  CDATA  #IMPLIED
   namest   CDATA  #IMPLIED
   nameend  CDATA  #IMPLIED
   spanname CDATA  #IMPLIED
   morerows CDATA  #IMPLIED
   colsep   CDATA  #IMPLIED
   rowsep   CDATA  #IMPLIED
   align           (left | right | center | justify | char )  #IMPLIED
   char     CDATA  #IMPLIED
   charoff  CDATA  #IMPLIED
   rotate   CDATA  #IMPLIED
   valign          (top | middle | bottom )  #IMPLIED">

<!ENTITY % entrytbl.attlist " cols           CDATA  #REQUIRED
   %tbl.tgroup.att;
   colname        CDATA  #IMPLIED
   spanname       CDATA  #IMPLIED
   namest         CDATA  #IMPLIED
   nameend        CDATA  #IMPLIED
   colsep         CDATA  #IMPLIED
   rowsep         CDATA  #IMPLIED
   align                 (left | right | center | justify | char )  #IMPLIED
   char           CDATA  #IMPLIED
   charoff        CDATA  #IMPLIED">

<!ENTITY % row.attlist " rowsep CDATA  #IMPLIED
   valign        (top | middle | bottom )  #IMPLIED">

<!ENTITY % tbody.attlist " valign   (top | middle | bottom )  #IMPLIED">

<!ENTITY % tfoot.attlist " valign   (top | middle | bottom )  #IMPLIED">

<!ENTITY % thead.attlist " valign   (top | middle | bottom )  #IMPLIED">

<!ENTITY % spanspec.attlist " namest   CDATA  #REQUIRED
   nameend  CDATA  #REQUIRED
   spanname CDATA  #REQUIRED
   colsep   CDATA  #IMPLIED
   rowsep   CDATA  #IMPLIED
   align           (left | right | center | justify | char )  #IMPLIED
   char     CDATA  #IMPLIED
   charoff  CDATA  #IMPLIED">

<!ENTITY % colspec.attlist " colnum   CDATA  #IMPLIED
   colname  CDATA  #IMPLIED
   colwidth CDATA  #IMPLIED
   colsep   CDATA  #IMPLIED
   rowsep   CDATA  #IMPLIED
   align           (left | right | center | justify | char )  #IMPLIED
   char     CDATA  #IMPLIED
   charoff  CDATA  #IMPLIED">


<!ENTITY % tgroup.attlist " cols           CDATA  #REQUIRED
   %tbl.tgroup.att;
   colsep         CDATA  #IMPLIED
   rowsep         CDATA  #IMPLIED
   align                 (left | right | center | justify | char )  #IMPLIED
   char           CDATA  #IMPLIED
   charoff        CDATA  #IMPLIED">

<!ENTITY % table.attlist " frame                (top | bottom | topbot | all | sides | none )  #IMPLIED
   colsep        CDATA  #IMPLIED
   rowsep        CDATA  #IMPLIED
   %tbl.table.att;">

<!ENTITY % e_tbl.hdft.mdl "(colspec* , row+)">

<!ENTITY % tbl.tgroup.mdl "(colspec* , spanspec* , thead? , tfoot? , tbody)">


<!ENTITY % tbl.table-main.mdl "(tgroup+ | graphic+)">

<!ENTITY % titles "(title?)">

<!ENTITY % tbl.table-titles.mdl "(%titles;)">

<!ELEMENT table (title? , caption? , tgroup*)>

<!ATTLIST table  %table.attlist;
                   id            ID     #IMPLIED
                   num           CDATA  #IMPLIED >
<!ELEMENT tgroup (%tbl.tgroup.mdl;)>

<!ATTLIST tgroup  %tgroup.attlist; >
<!ELEMENT colspec EMPTY>

<!ATTLIST colspec  %colspec.attlist; >
<!ELEMENT spanspec EMPTY>

<!ATTLIST spanspec  %spanspec.attlist; >
<!ELEMENT thead (%e_tbl.hdft.mdl;)>

<!ATTLIST thead  %thead.attlist; >
<!ELEMENT tfoot (p)+>

<!ATTLIST tfoot  %tfoot.attlist; >
<!ELEMENT tbody (row+)>

<!ATTLIST tbody  %tbody.attlist; >
<!ELEMENT row (entry | entrytbl)+>

<!ATTLIST row  %row.attlist; >
<!ELEMENT entrytbl (colspec* , spanspec* , thead? , tbody)>

<!ATTLIST entrytbl  %entrytbl.attlist; >
<!ELEMENT entry (#PCDATA | p)*>

<!ATTLIST entry  %entry.attlist; >
