model/src/main/resources/xsd/rest/container/0.3/container.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 12 users (FIZ Karlsruhe) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.escidoc.de/schemas/container/0.3"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:toc="http://www.escidoc.de/schemas/toc/0.2"
           xmlns:struct-map="http://www.escidoc.de/schemas/structmap/0.3"
           xmlns:relations="http://www.escidoc.de/schemas/relations/0.3"
           xmlns:member-ref-list="http://www.escidoc.de/schemas/memberreflist/0.3"
           xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.3"
           xmlns:item="http://www.escidoc.de/schemas/item/0.3"
           xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
           xmlns:context="http://www.escidoc.de/schemas/context/0.3"
           xmlns:container="http://www.escidoc.de/schemas/container/0.3"
           xmlns:components="http://www.escidoc.de/schemas/components/0.3"
           xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.3"
           xmlns:admin-descriptor="http://www.escidoc.de/schemas/admindescriptor/0.3">
  <xs:import namespace="http://www.w3.org/1999/xlink"
             schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/metadatarecords/0.3"
             schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/md-records.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/relations/0.3"
             schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/relations.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.3"
             schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/common-types.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/structmap/0.3"
             schemaLocation="http://www.escidoc.org/schemas/rest/container/0.3/struct-map.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/toc/0.2"
             schemaLocation="http://www.escidoc.org/schemas/container/0.2/toc.xsd"></xs:import>

  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd"></xs:import>
             
  <xs:import namespace="http://www.escidoc.de/schemas/admindescriptor/0.3"
		     schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/admin-descriptor.xsd" />

  <xs:element name="container">
    <xs:annotation>
      <xs:documentation><para>Following you will find information which
      elements and attributes are "required", "optional", "not-allowed" or
      will be "discarded" in the input XML-stream when creating or updating
      such an object. </para> <para> In "create" the rule for creating a new
      object is defined. </para> <para> In "update" the rule for updating an
      object is defined. </para> <para> Possible values are: required |
      optional | not-allowed | discarded </para> <para> required: this element
      or attribute has to be delivered </para> <para> optional: this element
      or attribute can be delivered and will be kept </para> <para>
      not-allowed: this element or attribute is not allowed in delivery and
      will cause an exception </para> <para>discarded: this element or
      attribute can be delivered but will not be used
      </para></xs:documentation>

      <xs:documentation><create>required</create>
      <update>required</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element ref="container:properties"></xs:element>

        <xs:element minOccurs="0" ref="container:resources"></xs:element>

        <xs:element ref="md-records:md-records"></xs:element>

        <xs:element minOccurs="0" ref="relations:relations"></xs:element>

        <xs:element minOccurs="0" ref="struct-map:struct-map"></xs:element>

        <xs:element minOccurs="0" ref="toc:toc"></xs:element>
        
        <xs:element minOccurs="0"
		ref="admin-descriptor:admin-descriptor">
		</xs:element>

      </xs:sequence>

      <xs:attribute ref="xlink:href">
        <xs:annotation>
          <xs:documentation><create>discarded</create>
          <update>discarded</update></xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute ref="xlink:title">
        <xs:annotation>
          <xs:documentation><create>discarded</create>
          <update>discarded</update> <comment> Will be set from metadata (not
          in this release) </comment></xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute ref="xlink:type">
        <xs:annotation>
          <xs:documentation><create>discarded</create>
          <update>discarded</update></xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute ref="xml:base">
        <xs:annotation>
          <xs:documentation><create>discarded</create>
          <update>discarded</update></xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="last-modification-date" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation><create>discarded</create>
          <update>required</update></xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="status-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="pending"></xs:enumeration>

      <xs:enumeration value="submitted"></xs:enumeration>

      <xs:enumeration value="in-revision"></xs:enumeration>

      <xs:enumeration value="released"></xs:enumeration>

      <xs:enumeration value="withdrawn"></xs:enumeration>

      <xs:enumeration value="deleted"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lock-status-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="locked"></xs:enumeration>

      <xs:enumeration value="unlocked"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="properties">
    <xs:annotation>
      <xs:documentation><create>required</create>
      <update>required</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creation-date" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="created-by"
                    type="common-types:readOnlyLink">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="public-status"
                    type="container:status-types">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="name">
          <xs:annotation>
            <xs:documentation><create>discarded (can be set via "escidoc"
							md-record element)</create>
							<update>discarded (can be updated via update of "escidoc"
							md-record element</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation><create>discarded (can be set via "escidoc"
							md-record element)</create>
							<update>discarded (can be updated via update of "escidoc"
							md-record element</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="context" type="common-types:linkForCreate"
        minOccurs="0">
          <xs:annotation>
            <xs:documentation><create>required</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="content-model" type="common-types:linkForCreate"
        minOccurs="0">
          <xs:annotation>
            <xs:documentation><create>required</create>
            <update>discarded</update> <comment>not finalized
            yet</comment></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="lock-status"
                    type="container:lock-status-types">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="lock-date" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="lock-owner"
                    type="common-types:readOnlyLink">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="pid" type="xs:string">
          <xs:annotation>
            <xs:documentation><create>optional</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="version">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:sequence>
              <xs:element name="number" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="date" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="version-status" type="container:status-types"
              minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="valid-status" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="modified-by" type="common-types:readOnlyLink"
              minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="comment" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>
              
              <xs:element minOccurs="0" name="pid" type="xs:string">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>

            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element minOccurs="0" name="latest-version">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:sequence>
              <xs:element name="number" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="date" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>

            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element minOccurs="0" name="latest-release">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:sequence>
              <xs:element name="number" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="date" minOccurs="0">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element minOccurs="0" name="pid">
                <xs:annotation>
                  <xs:documentation><create>discarded</create>
                  <update>discarded</update></xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>

            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element name="content-model-specific">
          <xs:annotation>
            <xs:documentation><create>required</create>
            <update>required</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:sequence>
              <xs:any maxOccurs="unbounded" minOccurs="0"
                      processContents="skip"></xs:any>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
    </xs:complexType>
  </xs:element>

  <xs:element name="resources">
    <xs:annotation>
      <xs:documentation><create>discarded</create>
      <update>discarded</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="members">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element name="member-refs">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element name="toc-view">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>

        <xs:element name="version-history">
          <xs:annotation>
            <xs:documentation><create>discarded</create>
            <update>discarded</update></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="common-types:readOnlyESciDocResourceLinkAttributes"></xs:attributeGroup>

      <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"></xs:attributeGroup>
    </xs:complexType>
  </xs:element>
</xs:schema>