common_services/common_logic/src/main/resources/xsd/metadata/0.1/escidocenumtypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://purl.org/escidoc/metadata/ves/0.1/" 
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://purl.org/escidoc/metadata/ves/0.1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>
	
	<!--*******************************
    ReviewMethodEnum
    ********************************-->
	<xs:simpleType name="ReviewMethodEnum">
		<xs:annotation>
			<xs:documentation>The review method for the publication.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/review-methods/internal"/>
			<xs:enumeration value="http://purl.org/eprint/status/PeerReviewed"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/review-methods/no-review"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*******************************
    DegreeEnum
    ********************************-->
	<xs:simpleType name="DegreeEnum">
		<xs:annotation>
			<xs:documentation>The degree which is achieved with the publication. Applicable to thesis publications.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/master"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/diploma"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/magister"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/staatsexamen"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/phd"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/habilitation"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/academic-degrees/bachelor"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*******************************
    GenreEnum
    ********************************-->
	<xs:simpleType name="GenreEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/journal"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/journal-article"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/article"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/issue"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/newspaper-article"/>
			<xs:enumeration value="http://purl.org/eprint/type/Book"/>
			<xs:enumeration value="http://purl.org/eprint/type/BookItem"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/proceedings"/>
			<xs:enumeration value="http://purl.org/eprint/type/ConferencePaper"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/conference-report"/>
			<xs:enumeration value="http://purl.org/eprint/type/ConferencePoster"/>
			<xs:enumeration value="http://purl.org/eprint/type/Report"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/paper"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/talk-at-event"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/working-paper"/>		
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/courseware-lecture"/>
			<xs:enumeration value="http://purl.org/eprint/type/Thesis"/>			
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/series"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/manuscript"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/other"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/manual"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/webpage"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/editorial"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-encyclopedia"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-commentary"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/book-review"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/opinion"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/case-study"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/case-note"/>				
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/monograph"/>	
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/newspaper"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/encyclopedia"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/multi-volume"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/commentary"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/handbook"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/collected-edition"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/publication-types/festschrift"/>	
		</xs:restriction>
	</xs:simpleType>
	<!--*******************************
    DateTypeEnum
    ********************************-->
	<!-- <xs:simpleType name="DateTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="created"/>
			<xs:enumeration value="submitted"/>
			<xs:enumeration value="accepted"/>
			<xs:enumeration value="modified"/>
			<xs:enumeration value="published-in-print"/>
			<xs:enumeration value="published-online"/>
		</xs:restriction>
	</xs:simpleType>-->
	<!--*******************************
    InvitationStatusEnum
    ********************************-->
	<xs:simpleType name="InvitationStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="invited"/>
		</xs:restriction>
	</xs:simpleType>

	<!--*******************************
    CreatorRoleEnum
    ********************************-->
	<xs:simpleType name="CreatorRoleEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/AUT"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/ART"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/EDT"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/creator-roles/painter"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/PHT"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/ILL"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/CMM"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/TRC"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/TRL"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/SAD"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/THS"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/CTB"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/creator-roles/publisher"/>
			<xs:enumeration value="http://www.loc.gov/loc.terms/relators/HNR"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/creator-roles/founder"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/creator-roles/referee"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- FACES-ITEM TYPES -->
	<xs:simpleType name="EmotionEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/happiness"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/anger"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/neutrality"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/sadness"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/fear"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/emotions/disgust"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PictureGroupEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/picture-group/a"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/picture-group/b"/>			
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="AgeGroupEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/age-group/young"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/age-group/middle"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/age-group/old"/>			
		</xs:restriction>
	</xs:simpleType>           
	<xs:simpleType name="GenderEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/genders/female"/>
			<xs:enumeration value="http://purl.org/escidoc/metadata/ves/genders/male"/>						
		</xs:restriction>
	</xs:simpleType>      
	
	<!-- DIAMONDS -->
        <xs:complexType name="KELVIN">
                <xs:simpleContent>
                        <xs:restriction base="dc:SimpleLiteral">
                                <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                        </xs:restriction>
               </xs:simpleContent>
       </xs:complexType>
        <xs:complexType name="CELSIUS">
                <xs:simpleContent>
                        <xs:restriction base="dc:SimpleLiteral">
                                <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                       </xs:restriction>
                </xs:simpleContent>
       </xs:complexType>
       <xs:complexType name="FAHRENHEIT">
                <xs:simpleContent>
                        <xs:restriction base="dc:SimpleLiteral">
                                <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                        </xs:restriction>
                </xs:simpleContent>
        </xs:complexType>
        <xs:complexType name="REAUMUR">
                <xs:simpleContent>
                        <xs:restriction base="dc:SimpleLiteral">
                                <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                        </xs:restriction>
                </xs:simpleContent>
        </xs:complexType>
        <xs:complexType name="RANKINE">
                <xs:simpleContent>
                        <xs:restriction base="dc:SimpleLiteral">
                                <xs:simpleType>
                                       <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                        </xs:restriction>
                </xs:simpleContent>
        </xs:complexType>


</xs:schema>
