common_services/transformation/src/main/resources/xsd_deprecated/soap/common/0.3/query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" minOccurs="1"
					maxOccurs="1">
					</xs:element>
				<xs:element name="format" minOccurs="1"
					maxOccurs="1">	
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
