common_services/common_logic/src/main/resources/xsd/rest/container/0.6/container.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by XMLSPY 2005 Professional Ed. Release 3, Installed for 12 users (FIZ Karlsruhe) -->
<!--
	Changes applied to this schema (since Version 03, Februar, 2008):
	
	- Februar, 2008
	- version changed to 04.
	
	- changed namespace (both xmlns and targetNamespace)
	from http://www.escidoc.de/schemas/container/0.3 
	to http://www.escidoc.de/schemas/container/0.4.
	-changed namespaces of refered schemas:
	from http://www.escidoc.de/schemas/structmap/0.3
	to http://www.escidoc.de/schemas/structmap/0.4
	from http://www.escidoc.de/schemas/metadatarecords/0.3
	to http://www.escidoc.de/schemas/metadatarecords/0.4
	from http://www.escidoc.de/schemas/commontypes/0.3
	to http://www.escidoc.de/schemas/commontypes/0.4
	- refered new schemas with namespaces:
	xmlns:prop="http://escidoc.de/core/01/properties/
	xmlns:srel="http://escidoc.de/core/01/structural-relations/
	
	-deleted a reference to the schema with a namespace:
	http://www.escidoc.de/schemas/admindescriptor/0.3
	
	-deleted a reference to the element:
	{http://www.escidoc.de/schemas/admindescriptor/0.3}admin-descriptor
	
	
	- changed namespaces of direct child-elements of the element 
	/container/properties:
	
	For elements creation-date, name, description, public-status, 
	lock-status, lock-date, pid, version, latest-version, 
	latest-release, content-model-specific changed a namespace
	from http://www.escidoc.de/schemas/container/0.3
	to http://escidoc.de/core/01/properties/ 
	For elements created-by, context, content-model, lock-owner
	changed a namespace
	from http://www.escidoc.de/schemas/container/0.3
	to http://escidoc.de/core/01/structural-relations/ 
	
	- Implicit the element-type of the element /container/properties/public-status
	has been changed.
	States of all escidoc resources are allowed values of the 'public-status' 
	since version 0.4. In the version 0.3 the allowed values were restricted 
	to the states of the resource container.
	
	-changed namespaces of child-elements of the element 
	/container/properties/version:
	For elements number, date, comment, pid changed a namespace
	from http://www.escidoc.de/schemas/container/0.3 
	to http://escidoc.de/core/01/properties/version/
	For element modified-by changed a namespace
	from http://www.escidoc.de/schemas/container/0.3 
	to http://escidoc.de/core/01/structural-relations/
	
	-changed a name and a namespace of the element /container/properties/version/version-status:
	
	from {http://www.escidoc.de/schemas/container/0.3}version-status
	to {http://escidoc.de/core/01/properties/version/}status
	
	-Implicit deleted the element /container/properties/version/valid-status 
	
	-changed namespaces of all child-elements of the element 
	/container/properties/latest-version: 
	from http://www.escidoc.de/schemas/container/0.3 
	to http://escidoc.de/core/01/properties/version/
	
	-changed namespaces of all child-elements of the element 
	/container/properties/latest-release: 
	
	from http://www.escidoc.de/schemas/container/0.3 
	to http://escidoc.de/core/01/properties/release/
	
	
	
	- March, 2008
	- version changed to 05.
	
	-deleted a reference to the schema with a namespace:
	http://www.escidoc.de/schemas/toc/0.2
	
	-deleted a reference to the element:
	{http://www.escidoc.de/schemas/toc/0.2}toc
	
	-deleted child element toc-view of the element 
	/container/resources
	
	- April, 2008
	- version changed to 0.6
	
-->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.escidoc.de/schemas/container/0.6"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:struct-map="http://www.escidoc.de/schemas/structmap/0.4"
	xmlns:relations="http://www.escidoc.de/schemas/relations/0.3"
	xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.4"
	xmlns:container="http://www.escidoc.de/schemas/container/0.6"
	xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.4"
	xmlns:prop="http://escidoc.de/core/01/properties/"
	xmlns:srel="http://escidoc.de/core/01/structural-relations/">
	<xs:import namespace="http://escidoc.de/core/01/properties/"
		schemaLocation="http://www.escidoc.org/schemas/soap/common/0.4/properties.xsd" />
	<xs:import
		namespace="http://escidoc.de/core/01/structural-relations/"
		schemaLocation="http://www.escidoc.org/schemas/soap/common/0.4/structural-relations.xsd" />
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd">
</xs:import>

	<xs:import
		namespace="http://www.escidoc.de/schemas/metadatarecords/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/md-records.xsd">
	</xs:import>

	<xs:import namespace="http://www.escidoc.de/schemas/relations/0.3"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/relations.xsd">
	</xs:import>

	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.4/common-types.xsd">
	</xs:import>

	<xs:import namespace="http://www.escidoc.de/schemas/structmap/0.4"
		schemaLocation="http://www.escidoc.org/schemas/rest/container/0.4/struct-map.xsd">
	</xs:import>

	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd">
	</xs:import>

	<xs:element name="container">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional",
					"not-allowed" or will be "discarded" in the input
					XML-stream when creating or updating such an object.
				</para>
				<para>
					In "create" the rule for creating a new object is
					defined.
				</para>
				<para>
					In "update" the rule for updating an object is
					defined.
				</para>
				<para>
					Possible values are: required | optional |
					not-allowed | discarded
				</para>
				<para>
					required: this element or attribute has to be
					delivered
				</para>
				<para>
					optional: this element or attribute can be delivered
					and will be kept
				</para>
				<para>
					not-allowed: this element or attribute is not
					allowed in delivery and will cause an exception
				</para>
				<para>
					discarded: this element or attribute can be
					delivered but will not be used
				</para>
			</xs:documentation>

			<xs:documentation>
				<create>required</create>
				<update>required</update>
			</xs:documentation>
		</xs:annotation>

		<xs:complexType>
			<xs:sequence>
				<xs:element ref="container:properties" minOccurs="0" />
				<xs:element ref="container:resources" minOccurs="0" />
				<xs:element ref="md-records:md-records" minOccurs="0" />
				<xs:element ref="relations:relations" minOccurs="0" />
				<xs:element ref="struct-map:struct-map" minOccurs="0" />
			</xs:sequence>
			<xs:attributeGroup
				ref="common-types:eSciDocResourceIdentityAttributes" />
			<xs:attributeGroup
				ref="common-types:eSciDocRootElementAttributes" />
		</xs:complexType>
		</xs:element>
		<xs:element name="properties">
			<xs:annotation>
				<xs:documentation>
					<create>required</create>
					<update>required</update>
				</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:sequence>
					<xs:element minOccurs="0"
						ref="prop:creation-date">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="srel:created-by">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0"
						ref="prop:public-status">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:name">
						<xs:annotation>
							<xs:documentation>
								<create>
									discarded (can be set via
									corresponding "escidoc" md-record
									element)
								</create>
								<update>
									discarded (can be updated via update
									of corresponding "escidoc" md-record
									element
								</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:description">
						<xs:annotation>
							<xs:documentation>
								<create>
									discarded (can be set via
									corresponding "escidoc" md-record
									element)
								</create>
								<update>
									discarded (can be updated via update
									of corresponding "escidoc" md-record
									element
								</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="srel:context">
						<xs:annotation>
							<xs:documentation>
								<create>required</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0"
						ref="srel:content-model">
						<xs:annotation>
							<xs:documentation>
								<create>required</create>
								<update>discarded</update>
								<comment>not finalized yet</comment>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:lock-status">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:lock-date">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="srel:lock-owner">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:pid">
						<xs:annotation>
							<xs:documentation>
								<create>optional</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" ref="prop:version">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0"
						ref="prop:latest-version">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0"
						ref="prop:latest-release">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="prop:content-model-specific">
						<xs:annotation>
							<xs:documentation>
								<create>required</create>
								<update>required</update>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attributeGroup
					ref="common-types:eSciDocResourceIdentityAttributes" />
				<xs:attributeGroup
					ref="common-types:eSciDocRootElementAttributes" />
			</xs:complexType>
		</xs:element>


		<xs:element name="resources">
			<xs:annotation>
				<xs:documentation>
					<create>discarded</create>
					<update>discarded</update>
				</xs:documentation>
			</xs:annotation>

			<xs:complexType>
				<xs:sequence>
					<xs:element name="members">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>

						<xs:complexType>
							<xs:attributeGroup
								ref="common-types:readOnlyESciDocResourceLinkAttributes">
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>

					<xs:element name="member-refs">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>

						<xs:complexType>
							<xs:attributeGroup
								ref="common-types:readOnlyESciDocResourceLinkAttributes">
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>

					<xs:element name="version-history">
						<xs:annotation>
							<xs:documentation>
								<create>discarded</create>
								<update>discarded</update>
							</xs:documentation>
						</xs:annotation>

						<xs:complexType>
							<xs:attributeGroup
								ref="common-types:readOnlyESciDocResourceLinkAttributes">
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
				</xs:sequence>

				<xs:attributeGroup
					ref="common-types:readOnlyESciDocResourceLinkAttributes">
				</xs:attributeGroup>

				<xs:attributeGroup
					ref="common-types:eSciDocRootElementAttributes">
				</xs:attributeGroup>
			</xs:complexType>
		</xs:element>
		
</xs:schema>