common_services/common_logic/src/main/resources/xsd/soap/item/0.3/components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.escidoc.de/schemas/components/0.3"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:relations="http://www.escidoc.de/schemas/relations/0.3"
           xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.3"
           xmlns:item="http://www.escidoc.de/schemas/item/0.3"
           xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
           xmlns:context="http://www.escidoc.de/schemas/context/0.3"
           xmlns:components="http://www.escidoc.de/schemas/components/0.3"
           xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.3"
           xmlns:common="http://www.escidoc.de/schemas/commontypes/0.3"
           xmlns:admin-descriptor="http://www.escidoc.de/schemas/admindescriptor/0.3"
	xmlns:xlink="http://www.w3.org/1999/xlink">
	<xs:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="http://www.escidoc.org/schemas/soap/common/0.3/xlink.xsd" />

  <xs:import namespace="http://www.escidoc.de/schemas/metadatarecords/0.3"
             schemaLocation="http://www.escidoc.org/schemas/soap/common/0.3/md-records.xsd"></xs:import>

  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
             schemaLocation="http://www.escidoc.org/schemas/soap/common/0.3/xml.xsd"></xs:import>

  <xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.3"
             schemaLocation="http://www.escidoc.org/schemas/soap/common/0.3/common-types.xsd"></xs:import>

  <xs:element name="components">
    <xs:annotation>
      <xs:documentation><para>Following you will find information which
      elements and attributes are "required", "optional", "not-allowed" or
      will be "discarded" in the input XML-stream when creating or updating
      such an object. </para><para> In "create" the rule for creating a new
      object is defined. </para><para> In "update" the rule for updating an
      object is defined. </para><para> Possible values are: required |
      optional | not-allowed | discarded </para><para> required: this element
      or attribute has to be delivered </para><para> optional: this element or
      attribute can be delivered and will be kept </para><para> not-allowed:
      this element or attribute is not allowed in delivery and will cause an
      exception </para><para>discarded: this element or attribute can be
      delivered but will not be used </para></xs:documentation>

      <xs:documentation><create>required</create><update>required</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="components:component"></xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="common-types:eSciDocResourceIndentityAttributes"></xs:attributeGroup>
      <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>

    </xs:complexType>
  </xs:element>

  <xs:element name="component">
    <xs:annotation>
      <xs:documentation><create>optional</create><update>optional (see
      comment)</update><comment>if not present in XML-stream and exists in
      stored object this component will be
      deleted.</comment></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element ref="components:properties"></xs:element>

        <xs:element name="content">
          <xs:annotation>
            <xs:documentation><create>optional</create><update>optional (see
            comment)</update><comment>if not present in XML-stream and exists
            in stored object this content will be
            deleted.</comment></xs:documentation>
          </xs:annotation>

          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
		<xs:attribute ref="xlink:type" fixed="simple">
			<xs:annotation>
				<xs:documentation>
					<create>discarded</create>
					<update>discarded</update>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xlink:title">
			<xs:annotation>
				<xs:documentation>
					<create>discarded</create>
					<update>discarded</update>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xlink:href">
			<xs:annotation>
				<xs:documentation>
					<create>optional</create>
					<update>optional</update>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>

        <xs:element minOccurs="0" ref="md-records:md-records"></xs:element>
      </xs:sequence>

		<xs:attribute name="objid" type="common-types:objid">
          <xs:annotation>
            <xs:documentation><create>discarded</create><update>required, if empty or missing the component is treated as new</update></xs:documentation>
          </xs:annotation>
		</xs:attribute>

      <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"></xs:attributeGroup>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="status-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="valid"></xs:enumeration>

      <xs:enumeration value="invalid"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="visibility-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="private"></xs:enumeration>

      <xs:enumeration value="public"></xs:enumeration>

      <xs:enumeration value="institutional"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!--  deprecated -->

  <xs:simpleType name="component-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="abstract"></xs:enumeration>

      <xs:enumeration value="pre-print"></xs:enumeration>

      <xs:enumeration value="post-print"></xs:enumeration>

      <xs:enumeration value="publisher-version"></xs:enumeration>

      <xs:enumeration value="copyright-transfer-agreement"></xs:enumeration>

      <xs:enumeration value="correspondence"></xs:enumeration>

      <xs:enumeration value="supplementary-material"></xs:enumeration>

      <xs:enumeration value="table-of-contents"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="properties">
    <xs:annotation>
      <xs:documentation><create>required</create><update>required</update></xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creation-date" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation><create>discarded</create><update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="created-by"
                    type="common-types:readOnlyLink">
          <xs:annotation>
            <xs:documentation><create>discarded</create><update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="description">
          <xs:annotation>
            <xs:documentation><create>optional</create><update>optional</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="valid-status"
                    type="components:status-types">
          <xs:annotation>
            <xs:documentation><create>required</create><update>required</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="visibility" type="components:visibility-types">
          <xs:annotation>
            <xs:documentation><create>required</create><update>required</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="pid">
          <xs:annotation>
            <xs:documentation><create>discarded</create><update>discarded</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="content-category" type="xs:string">
          <xs:annotation>
            <xs:documentation><create>required</create><update>required</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="file-name">
          <xs:annotation>
            <xs:documentation><create>required</create><update>required</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="mime-type">
          <xs:annotation>
            <xs:documentation><create>optional</create><update>optional</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="file-size">
          <xs:annotation>
            <xs:documentation><create>required</create><update>required</update></xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element minOccurs="0" name="locator-url">
          <xs:annotation>
            <xs:documentation><create>optional</create><update>optional</update></xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>

      <xs:attributeGroup ref="common-types:eSciDocResourceIndentityAttributes"/>
      <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>

    </xs:complexType>
  </xs:element>
</xs:schema>