common_services/common_logic/src/main/resources/xsd/container/0.2/toc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:toc="http://www.escidoc.de/schemas/toc/0.2" xmlns:struct-map="http://www.escidoc.de/schemas/structmap/0.3" xmlns:relations="http://www.escidoc.de/schemas/relations/0.3" xmlns:member-ref-list2="http://www.escidoc.de/schemas/memberreflist/0.3" xmlns:member-ref-list="http://www.escidoc.de/schemas/memberreflist/0.2" xmlns:md-records="http://www.escidoc.de/schemas/metadatarecords/0.3" xmlns:item="http://www.escidoc.de/schemas/item/0.3" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" xmlns:context="http://www.escidoc.de/schemas/context/0.3" xmlns:container="http://www.escidoc.de/schemas/container/0.3" xmlns:components="http://www.escidoc.de/schemas/components/0.3" xmlns:common-types2="http://www.escidoc.de/schemas/commontypes/0.3" xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.2" xmlns:admin-descriptor="http://www.escidoc.de/schemas/admindescriptor/0.3" targetNamespace="http://www.escidoc.de/schemas/toc/0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xlink.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.2" schemaLocation="http://www.escidoc.org/schemas/common/0.2/common-types.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.escidoc.org/schemas/rest/common/0.3/xml.xsd"/>
	<xs:import namespace="http://www.escidoc.de/schemas/memberreflist/0.2" schemaLocation="http://www.escidoc.org/schemas/common/0.2/member-ref-list.xsd"/>
	<xs:element name="toc">
		<xs:annotation>
			<xs:documentation>
				<para>
					Following you will find information which elements
					and attributes are "required", "optional",
					"not-allowed" or will be "discarded" in the input
					XML-stream when creating or updating such an object.
				</para>
				<para>
					In "create" the rule for creating a new object is
					defined.
				</para>
				<para>
					In "update" the rule for updating an object is
					defined.
				</para>
				<para>
					Possible values are: required | optional |
					not-allowed | discarded
				</para>
				<para>
					required: this element or attribute has to be
					delivered
				</para>
				<para>
					optional: this element or attribute can be deliverd
					and will be kept
				</para>
				<para>
					not-allowed: this element or attribute is not
					allowed in delivery and will cause an exception
				</para>
				<para>
					discarded: this element or attribute can be
					delivered but will not be used
				</para>
			</xs:documentation>
			<xs:documentation>
				<create>required</create>
				<update>required</update>
				<comment>
					The "toc" is maintained only by the application.
				</comment>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description">
					<xs:annotation>
						<xs:documentation>
							<create>required</create>
							<update>required</update>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="member-ref-list:member-ref-list"/>
			</xs:sequence>
			<xs:attributeGroup ref="common-types:laxESciDocResourceLocationAttributesContainer"/>
			<xs:attribute name="last-modification-date" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						<create>
							discarded, on create of subresource required
						</create>
						<update>
							discarded, on update of subresource required
						</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="xml:base">
				<xs:annotation>
					<xs:documentation>
						<create>discarded</create>
						<update>discarded</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:annotation>
					<xs:documentation>
						<create>required</create>
						<update>required</update>
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
