common_services/common_logic/src/main/resources/xsd/soap/common/0.3/update-relations.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="relation" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="targetId" minOccurs="1" maxOccurs="1"/>
								<xs:element name="predicate" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="last-modification-date"/>
		</xs:complexType>
	</xs:element>
</xs:schema>