common_services/common_logic/src/main/resources/xsd/rest/user-group/0.6/remove-selectors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:usergroup="http://www.escidoc.de/schemas/usergroup/0.6"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="last-modification-date" />
		</xs:complexType>
	</xs:element>
</xs:schema>
