common_services/common_logic/src/main/resources/xsd/soap/user-account/0.4/grants.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Changes applied to this schema since Version 0.3:
    - Version changed to 0.4.
    
    - Changed namespace (both xmlns and targetNamespace) to http://www.escidoc.de/schemas/grants/0.4.
    
    - Changed namespaces of referenced schema  http://www.escidoc.de/schemas/commontypes/0.4
    
    - Added namespace of referenced schemas
      http://escidoc.de/core/01/properties/
      http://escidoc.de/core/01/structural-relations/
      
    - Replaced rest attributes (xlink:type, xlink:title, xlink:href, xml:base)
      with references to appropriate attribute groups in common-types.xsd.
    
    - Changed namespaces of contents of the element /grant/properties 
      to http://escidoc.de/core/01/properties/ for following elements:
      * creation-date,
      * revocation-date,
      * grant-remark
      * revocation-remark
      
      to http://escidoc.de/core/01/structural-relations/ for following elements:
      * created-by
      * revoked-by
      * role
      
    - Renamed element /grant/properties/object to /grant/properties/assigned-on 
      with namespace http://escidoc.de/core/01/structural-relations/
      
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:prop="http://escidoc.de/core/01/properties/"
    xmlns:srel="http://escidoc.de/core/01/structural-relations/"
    xmlns:common-types="http://www.escidoc.de/schemas/commontypes/0.4"
    xmlns:grants="http://www.escidoc.de/schemas/grants/0.4"
    targetNamespace="http://www.escidoc.de/schemas/grants/0.4"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.escidoc.org/schemas/soap/common/0.3/xml.xsd"/>
    <xs:import namespace="http://escidoc.de/core/01/properties/" 
        schemaLocation="http://www.escidoc.org/schemas/soap/common/0.4/properties.xsd"/>
    <xs:import namespace="http://escidoc.de/core/01/structural-relations/" 
        schemaLocation="http://www.escidoc.org/schemas/soap/common/0.4/structural-relations.xsd"/>
    <xs:import namespace="http://www.escidoc.de/schemas/commontypes/0.4"
        schemaLocation="http://www.escidoc.org/schemas/soap/common/0.4/common-types.xsd"/>
    <xs:element name="current-grants">
        <xs:annotation>
            <xs:documentation>
                <para> Following you will find information which elements and
                    attributes are "required", "optional", "not-allowed" or
                    will be "discarded" in the input XML-stream when creating or
                    updating such an object. </para>
                <para> In "create" the rule for creating a new object is defined.
                    </para>
                <para> In "update" the rule for updating an object is defined.
                    </para>
                <para> Possible values are: required | optional | not-allowed |
                    discarded </para>
                <para> required: this element or attribute has to be delivered
                    </para>
                <para> optional: this element or attribute can be delivered and
                    will be kept </para>
                <para> not-allowed: this element or attribute is not allowed in
                    delivery and will cause an exception </para>
                <para> discarded: this element or attribute can be delivered but
                    will not be used </para>
            </xs:documentation>
            <xs:documentation>
                <comment>This is a read-only resource representing a list of the
                    current grants of the user account. Neither create nor update
                    is supported for this list.</comment>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="grants:grant" minOccurs="0"
                    maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="grant">
        <xs:annotation>
            <xs:documentation>
                <create>required</create>
                <update>not-allowed (see note 1.)</update>
                <comment>1. Update is not defined for a grant.</comment>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="properties">
                    <xs:annotation>
                        <xs:documentation>
                            <create>required</create>
                            <update>not-allowed (see note 1.)</update>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0"
                                ref="prop:creation-date">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>discarded</create>
                                        <update>discarded</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0"
                                ref="srel:created-by">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>discarded</create>
                                        <update>discarded</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0"
                                ref="prop:revocation-date">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>discarded</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" ref="srel:revoked-by">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>discarded</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" ref="prop:grant-remark">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>optional</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" 
                                ref="prop:revocation-remark">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>discarded</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="srel:role">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>required</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" ref="srel:assigned-on">
                                <xs:annotation>
                                    <xs:documentation>
                                        <create>optional (see note
                                            2.)</create>
                                        <update>not-allowed (see note
                                            1.)</update>
                                        <comment>2. The referenced resource
                                            must be of type container,
                                            content-model, context, item,
                                            organizational unit, or scope.
                                            Granting roles on other resource
                                            types is not supported,
                                            yet.</comment>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="common-types:eSciDocResourceIdentityAttributes"/>
            <xs:attributeGroup ref="common-types:eSciDocRootElementAttributes"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
