common_services/validation_presentation/src/main/resources/validation_schema/Grey_Material_(MOL).xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 CDDL HEADER START

 The contents of this file are subject to the terms of the
 Common Development and Distribution License, Version 1.0 only
 (the "License"). You may not use this file except in compliance
 with the License.

 You can obtain a copy of the license at license/ESCIDOC.LICENSE
 or http://www.escidoc.de/license.
 See the License for the specific language governing permissions
 and limitations under the License.

 When distributing Covered Code, include this CDDL HEADER in each
 file and include the License file at license/ESCIDOC.LICENSE.
 If applicable, add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your own identifying
 information: Portions Copyright [yyyy] [name of copyright owner]

 CDDL HEADER END


 Copyright 2006-2007 Fachinformationszentrum Karlsruhe Gesellschaft
 für wissenschaftlich-technische Information mbH and Max-Planck-
 Gesellschaft zur Förderung der Wissenschaft e.V.
 All rights reserved. Use is subject to license terms.
-->
<!-- Validation Schema for publication items
	$Author: mfranke $
	$Revision: 107 $
 -->
<?identification context-name="Grey Material (MOL)" content-model="escidoc:persistent4" context="escidoc:dummy126" metadata-version="1.0" version="0.1"?>

<iso:schema xmlns:iso="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2" schemaVersion="ISO19757-3" defaultPhase="default">
	
	<iso:ns prefix="item" uri="http://www.escidoc.de/schemas/item/0.3"/>
	<iso:ns prefix="escidocMetadataRecords" uri="http://www.escidoc.de/schemas/metadatarecords/0.3"/>
	<iso:ns prefix="dc" uri="http://purl.org/dc/elements/1.1/"/>
	<iso:ns prefix="dcterms" uri="http://purl.org/dc/terms/"/>
	<iso:ns prefix="escidocMetadataProfile" uri="http://escidoc.mpg.de/metadataprofile/schema/0.1/"/>
	<iso:ns prefix="escidoc" uri="http://escidoc.mpg.de/metadataprofile/schema/0.1/types"/>
	<iso:ns prefix="escidocComponents" uri="http://www.escidoc.de/schemas/components/0.3"/>
	<iso:ns prefix="publication" uri="http://escidoc.mpg.de/metadataprofile/schema/0.1/publication"/>
	<iso:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
	
	<!-- Validation points -->
	<iso:phase id="default">
		<iso:active pattern="publisher_name_required"/>
		<iso:active pattern="organization_name_required"/>
		<iso:active pattern="event_title_required"/>
		<iso:active pattern="source_title_required"/>
		<iso:active pattern="creator_role_required"/>
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<iso:active pattern="creator_required"/>
		<iso:active pattern="correct_date_format"/>
		<iso:active pattern="component_data_required"/>
	</iso:phase>

	<iso:phase id="easy_submission_step_3">
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<!-- iso:active pattern="component_required"/ -->
	</iso:phase>

	<iso:phase id="easy_submission_step_4">
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<!-- iso:active pattern="component_required"/ -->
		<iso:active pattern="creator_required"/>
		<iso:active pattern="creator_role_required"/>
	</iso:phase>

	<iso:phase id="easy_submission_step_5">
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<!-- iso:active pattern="component_required"/ -->
		<iso:active pattern="creator_required"/>
		<iso:active pattern="creator_role_required"/>
		<iso:active pattern="correct_date_format"/>
		<iso:active pattern="date_required"/>
		<iso:active pattern="source_required"/>
	</iso:phase>
	
	<iso:phase id="submit_item">
		<iso:active pattern="publisher_name_required"/>
		<iso:active pattern="organization_name_required"/>
		<iso:active pattern="event_title_required"/>
		<iso:active pattern="source_title_required"/>
		<iso:active pattern="creator_role_required"/>
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<iso:active pattern="creator_required"/>
		<iso:active pattern="correct_date_format"/>
		<iso:active pattern="component_data_required"/>
		
		<iso:active pattern="date_modified_required"/>
		<iso:active pattern="abstract_english_required"/>
		<iso:active pattern="public_file_required"/>
		<iso:active pattern="event_required"/>
		<iso:active pattern="review_method_internal_required"/>
	</iso:phase>

	<iso:phase id="accept_item">
		<iso:active pattern="publisher_name_required"/>
		<iso:active pattern="organization_name_required"/>
		<iso:active pattern="event_title_required"/>
		<iso:active pattern="source_title_required"/>
		<iso:active pattern="creator_role_required"/>
		<iso:active pattern="genre_required"/>
		<iso:active pattern="title_required"/>
		<iso:active pattern="creator_required"/>
		<iso:active pattern="correct_date_format"/>
		<iso:active pattern="component_data_required"/>
		
		<iso:active pattern="date_modified_required"/>
		<iso:active pattern="abstract_english_required"/>
		<iso:active pattern="public_file_required"/>
		<iso:active pattern="event_required"/>
		<iso:active pattern="review_method_internal_required"/>
	</iso:phase>


	<!-- Validation rules -->
	
	<!-- Default rules -->
	 
	 <!-- if any fields at "Event" are filled, "Title" of the event has to be filled also. -->
	<iso:pattern name="event_title_required" id="event_title_required">
		<iso:rule context="publication:event">
			<iso:assert test="dc:title != '' or not(* != '' or @xml:lang != '')">EventTitleNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	 
	 <!-- if any fields at "Source" are filled, "Title" of the source has to be filled also. -->
	<iso:pattern name="source_title_required" id="source_title_required">
		<iso:rule context="publication:source">
			<iso:assert test="dc:title != '' or not(normalize-space(.) != '' or .//*/@* != '')">SourceTitleNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	 
	 <!-- if any fields at "P" are filled, "Title" of the source has to be filled also. -->
	<iso:pattern name="creator_role_required" id="creator_role_required">
		<iso:rule context="publication:source">
			<!--<iso:assert test="escidoc:creator/@role != '' or not(normalize-space(escidoc:creator) != '' or escidoc:creator//*/@* != '')">SourceCreatorRoleNotProvided</iso:assert>-->
		</iso:rule>
	</iso:pattern>
	
	<!-- Entered dates have to be in the format YYYY, YYYY-MM or YYYY-MM-DD -->
	<iso:pattern name="correct_date_format" id="correct_date_format">
		<!-- Publication dates -->
		<iso:rule context="dcterms:created|dcterms:modified|dcterms:issued|dcterms:dateAccepted|dcterms:dateSubmitted">
			<iso:assert test=". = '' or (matches(., '^\d\d\d\d(-\d\d){0,2}$') and substring(concat(., '-01-01'), 1, 10) castable as xs:date)">DateFormatIncorrect</iso:assert>
		</iso:rule>
		<!-- Event dates -->
		<iso:rule context="escidoc:start-date">
			<iso:assert test=". = '' or (matches(., '^\d\d\d\d(-\d\d){0,2}$') and substring(concat(., '-01-01'), 1, 10) castable as xs:date)">DateFormatIncorrect</iso:assert>
		</iso:rule>
		<iso:rule context="escidoc:end-date">
			<iso:assert test=". = '' or (matches(., '^\d\d\d\d(-\d\d){0,2}$') and substring(concat(., '-01-01'), 1, 10) castable as xs:date)">DateFormatIncorrect</iso:assert>
			<iso:assert test=". = '' or ../escidoc:start-date != ''">EndDateWithoutStartDate</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<iso:pattern name="component_data_required" id="component_data_required">
	
		<iso:rule context="escidocComponents:component">
			
			<!-- If a file is given, the filename is mandatory. -->
			<iso:assert test="not(escidocComponents:content/@xlink:href != '' or escidocComponents:properties/escidocComponents:locator-url != '') or escidocComponents:properties/escidocComponents:file-name != ''">ComponentFileNameNotProvided</iso:assert>
		
			<!-- If a file is given, the content type is mandatory. -->
			<iso:assert test="not(escidocComponents:content/@xlink:href != '' or escidocComponents:properties/escidocComponents:locator-url != '') or escidocComponents:properties/escidocComponents:content-category != ''">ComponentContentCategoryNotProvided</iso:assert>

			<!-- If a file is given, the mime type is mandatory. -->
			<iso:assert test="not(escidocComponents:content/@xlink:href != '') or escidocComponents:properties/escidocComponents:mime-type != ''">ComponentMimeTypeNotProvided</iso:assert>
	
			<!-- If a file is given, the visibility is mandatory. -->
			<iso:assert test="not(escidocComponents:content/@xlink:href != '' or escidocComponents:properties/escidocComponents:locator-url != '') or escidocComponents:properties/escidocComponents:visibility != ''">ComponentVisibilityNotProvided</iso:assert>
			
		</iso:rule>
		
	</iso:pattern>
	
	<iso:pattern name="component_required" id="component_required">
	
		<iso:rule context="escidocComponents:components">
			
			<!-- A file or a locator has to be given. -->
			<iso:assert test="escidocComponents:component[escidocComponents:content/@xlink:href != ''] or escidocComponents:component[escidocComponents:properties/escidocComponents:locator-url != '']">ComponentRequired</iso:assert>
			
		</iso:rule>
		
	</iso:pattern>


	<!-- Validation point specific -->	
	
	<!-- Title is required -->
	<iso:pattern name="title_required" id="title_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="dc:title != ''">TitleNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- Genre is required -->
	<iso:pattern name="genre_required" id="genre_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="@type != ''">GenreNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- if "Publisher place" or "Publisher edition" is filled, "Publisher name" has to be filled also -->
	<iso:pattern name="publisher_name_required" id="publisher_name_required">
		<iso:rule context="escidoc:publishing-info">
			<iso:assert test="dc:publisher != '' or not(* != '')">PublisherNameNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	 
	 <!-- if the field "Address of an Organization" within a creator of type "Person" is filled, "Name of the Organization" has to be filled also. -->
	<iso:pattern name="organization_name_required" id="organization_name_required">
		<iso:rule context="escidoc:organization">
			<iso:assert test="escidoc:organization-name != '' or not(escidoc:address) or escidoc:address = ''">OrganizationNameNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	 
	<!-- Genre must not be one of Proceedings, Conference Paper, Talk at event, Conference Report, Poster, Courseware/Lecture, Thesis, Paper, Report, Other. -->
	<iso:pattern name="genre_constraint" id="genre_constraint">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="@type = 'Proceedings' or @type = 'Conference Paper' or @type = 'Talk at event' or @type = 'Conference Report' or @type = 'Poster' or @type = 'Courseware/Lecture' or @type = 'Thesis' or @type = 'Paper' or @type = 'Report' or @type = 'Other'">GenreNotSuitable</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!-- At least one creator of role "author" is MPDL (organization) or is affiliated to MPDL (person). -->
	<iso:pattern name="creator_required" id="creator_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="publication:creator/escidoc:person/escidoc:family-name != '' or publication:creator/escidoc:organization/escidoc:organization-name">CreatorNotProvided</iso:assert>
			<iso:assert test="publication:creator">CreatorNotProvided</iso:assert>
			<iso:assert test="publication:creator/@role = 'author'">AuthorNotProvided</iso:assert>
			<iso:assert test="publication:creator//escidoc:organization-name[contains(., 'Max Planck Digital Library')]">MpdlCreatorRequired</iso:assert>
		</iso:rule>
		<iso:rule context="escidocMetadataProfile:publication/publication:creator/escidoc:person">
			<iso:assert test="escidoc:family-name != ''">CreatorFamilyNameNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- One date of type "modified" has to be provided and it's value is after 2007-01-01. -->
	<iso:pattern name="date_modified_required" id="date_modified_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="dcterms:modified != '' and substring(concat(dcterms:modified, '-01-01'), 1, 10) castable as xs:date and xs:date(substring(concat(dcterms:modified, '-01-01'), 1, 10)) &gt; xs:date('2007-01-01')">DateModifiedNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!-- An abstract of language "English" has to be provided. -->
	<iso:pattern name="abstract_english_required" id="abstract_english_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="dcterms:abstract[@xml:lang='en']">EnglishAbstractNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- At least one file with visibility "public" has been uploaded for the item. -->
	<iso:pattern name="public_file_required" id="public_file_required">
		<iso:rule context="escidocComponents:components">
			<iso:assert test="escidocComponents:component/escidocComponents:properties/escidocComponents:visibility = 'public'">NoPublicFileProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- If genre is equal to "Proceedings", "Conference Paper", "Talk at event", "Conference Report" or "Courseware/Lecture", an event has to be provided. -->
	<iso:pattern name="event_required" id="event_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="not(@type = 'proceedings' or @type = 'talk-at-event' or @type = 'conference-paper' or @type = 'conference-report' or @type = 'courseware-lecture') or (publication:event/dc:title != '')">EventNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<!-- The ReviewMethod has the value "internal".  -->
	<iso:pattern name="review_method_internal_required" id="review_method_internal_required">
		<iso:rule context="escidocMetadataProfile:publication">
			<iso:assert test="publication:review-method = 'internal'">ReviewMethodInternalNotProvided</iso:assert>
		</iso:rule>
	</iso:pattern>

</iso:schema>