common_services/validation_presentation/src/main/resources/validation_schema/yearbook_validation.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 CDDL HEADER START

 The contents of this file are subject to the terms of the
 Common Development and Distribution License, Version 1.0 only
 (the "License"). You may not use this file except in compliance
 with the License.

 You can obtain a copy of the license at license/ESCIDOC.LICENSE
 or http://www.escidoc.de/license.
 See the License for the specific language governing permissions
 and limitations under the License.

 When distributing Covered Code, include this CDDL HEADER in each
 file and include the License file at license/ESCIDOC.LICENSE.
 If applicable, add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your own identifying
 information: Portions Copyright [yyyy] [name of copyright owner]

 CDDL HEADER END


 Copyright 2006-2010 Fachinformationszentrum Karlsruhe Gesellschaft
 für wissenschaftlich-technische Information mbH and Max-Planck-
 Gesellschaft zur Förderung der Wissenschaft e.V.
 All rights reserved. Use is subject to license terms.
-->
<!-- Validation Schema for MPG yearbook
	$Author: mfranke $
	$Revision: 139 $ -->
<?identification context-name="Yearbook Validation" content-model="escidoc:persistent4" context="yearbook" metadata-version="1.0" version="0.1"?>

<iso:schema xmlns:iso="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2" schemaVersion="ISO19757-3" defaultPhase="default" >
	
	<iso:ns prefix="item" uri="${xsd.soap.item.item}"/>
	<iso:ns prefix="escidocMetadataRecords" uri="${xsd.soap.common.mdrecords}"/>
	<iso:ns prefix="dc" uri="http://purl.org/dc/elements/1.1/"/>
	<iso:ns prefix="dcterms" uri="http://purl.org/dc/terms/"/>
	<iso:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
	<iso:ns prefix="escidocMetadataProfile" uri="${xsd.metadata.escidocprofile}"/>
	<iso:ns prefix="escidoc" uri="${xsd.metadata.escidocprofile.types}"/>
	<iso:ns prefix="escidocComponents" uri="${xsd.soap.item.components}"/>
	<iso:ns prefix="publication" uri="${xsd.metadata.publication}"/>
	<iso:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
	<iso:ns prefix="prop" uri="${xsd.soap.common.prop}"/>
	<iso:ns prefix="file" uri="${xsd.metadata.file}"/>
	<iso:ns prefix="rdf" uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
	<iso:ns prefix="person" uri="${xsd.metadata.person}" />
	<iso:ns prefix="event" uri="${xsd.metadata.event}" />
	<iso:ns prefix="source" uri="${xsd.metadata.source}" />
	<iso:ns prefix="organization" uri="${xsd.metadata.organization}" />
	<iso:ns prefix="escidoc-util" uri="java:de.mpg.escidoc.services.util.SchematronUtil" />
   
	
	<!-- Validation points -->
	<iso:phase id="default">
		<iso:active pattern="yearbook_genre"/>
		<iso:active pattern="publishing_date_and_year"/>
		
		<iso:active pattern="article_rules"/>
		<iso:active pattern="book_item_rules"/>
		<iso:active pattern="conference_paper_rules"/>
		<iso:active pattern="proceedings_rules"/>
		<iso:active pattern="book_rules"/>
		<iso:active pattern="issue_rules"/>
		<iso:active pattern="journal_rules"/>
		<iso:active pattern="series_rules"/>
		<iso:active pattern="paper_rules"/>
		<iso:active pattern="report_rules"/>
	</iso:phase>

	<iso:phase id="submit_item">
		<iso:active pattern="yearbook_genre"/>
		<iso:active pattern="publishing_date_and_year"/>
		
		<iso:active pattern="article_rules"/>
		<iso:active pattern="book_item_rules"/>
		<iso:active pattern="conference_paper_rules"/>
		<iso:active pattern="proceedings_rules"/>
		<iso:active pattern="book_rules"/>
		<iso:active pattern="issue_rules"/>
		<iso:active pattern="journal_rules"/>
		<iso:active pattern="series_rules"/>
		<iso:active pattern="paper_rules"/>
		<iso:active pattern="report_rules"/>
	</iso:phase>
	
	<!-- Validation rules -->

	<!-- Only certain genres make it into the yearbook -->
	<?rule publication: rule1: every @type (equals 'http://purl.org/escidoc/metadata/ves/publication-types/article'  or equals 'http://purl.org/eprint/type/BookItem') else report NoYearbookGenre?>
	<iso:pattern name="yearbook_genre" id="yearbook_genre">
		<iso:rule context="publication:publication">
			<iso:assert test="@type = 'http://purl.org/escidoc/metadata/ves/publication-types/article'
				or @type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/eprint/type/ConferencePaper'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/proceedings'
				or @type = 'http://purl.org/eprint/type/Book'
				or @type = 'http://purl.org/eprint/type/Thesis'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/issue'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/journal'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/series'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/webpage'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/paper'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/monograph'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/collected-edition'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/festschrift'
				or @type = 'http://purl.org/eprint/type/Report'">NoYearbookGenre</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!-- Variables -->
	<iso:let name="year">2010</iso:let>

	<!-- Publications need a publishing date and the year of this date has to be the current year -->
	<iso:pattern name="publishing_date_and_year" id="publishing_date_and_year">
		<iso:rule context="publication:publication">
			<iso:assert test="dcterms:issued != '' or escidoc:published-online != ''">PublishingDateNotProvided</iso:assert>
			<iso:assert test="starts-with(dcterms:issued, $year) or starts-with(escidoc:published-online, $year)">PublishingDateNotCorrect1</iso:assert>
			<iso:report test="not((dcterms:issued = '' or starts-with(dcterms:issued, $year)) and (escidoc:published-online = '' or starts-with(escidoc:published-online, $year)))">PublishingDateNotCorrect2</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!-- Genre-specific validation rules -->
	
	<!-- Article -->
	<iso:pattern name="article_rules" id="article_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/article']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/article']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/article']/source:source">
			<iso:report test="not(dc:title != '')">SourceTitleNotProvided</iso:report>
			<iso:report test="not(escidoc:volume != '')">SourceVolumeNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!--  Book Chapter -->
	<iso:pattern name="book_item_rules" id="book_item_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']/source:source">
			<iso:report test="not(dc:title != '')">SourceTitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']/source:source/escidoc:creator">
			<iso:report test="not(@role = 'http://www.loc.gov/loc.terms/relators/AUT' or @role = 'http://www.loc.gov/loc.terms/relators/EDT')">SourceCreatorRoleInvalid</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']/source:source/escidoc:creator/person:person">
			<iso:report test="not(escidoc:family-name != '')">SourceCreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(escidoc:given-name != '')">SourceCreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/BookItem'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-festschrift'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/contribution-to-collected-edition']/source:source/escidoc:creator/organization:organization">
			<iso:report test="not(dc:title != '')">SourceCreatorOrganizationNameNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!--  Conference Paper -->
	<iso:pattern name="conference_paper_rules" id="conference_paper_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/conferencepaper']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/conferencepaper']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/conferencepaper']/source:source">
			<iso:report test="not(dc:title != '')">SourceTitleNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!--  Proceedings -->
	<iso:pattern name="proceedings_rules" id="proceedings_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/proceedings']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
			<iso:report test="not(escidoc:total-number-of-pages != '')">TotalNumberOfPagesNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/proceedings']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/proceedings']/event:event">
			<iso:report test="not(dc:title != '')">EventTitleRequired</iso:report>
			<iso:report test="not(escidoc:place != '')">EventPlaceRequired</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/proceedings']">
			<iso:report test="not(escidoc:publishing-info/dc:publisher != '')">PublisherNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:publisher != '')">PublisherPlaceNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!--  Book -->
	<iso:pattern name="book_rules" id="book_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Book'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/monograph'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/collected-edition'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/festschrift']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
			<iso:report test="not(escidoc:total-number-of-pages != '')">TotalNumberOfPagesNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Book'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/monograph'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/collected-edition'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/festschrift']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Book'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/monograph'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/handbook'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/collected-edition'
				or @type = 'http://purl.org/escidoc/metadata/ves/publication-types/festschrift']">
			<iso:report test="not(escidoc:publishing-info/dc:publisher != '')">PublisherNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:publisher != '')">PublisherPlaceNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>

	<!-- Thesis -->
	<iso:pattern name="thesis_rules" id="thesis_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/thesis']">
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
			<iso:report test="not(escidoc:degree != 'http://purl.org/escidoc/metadata/ves/academic-degrees/phd' or dcterms:dateAccepted != '')">DateAcceptedNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/thesis']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/thesis']">
			<iso:report test="not(escidoc:publishing-info/dc:publisher != '')">PublisherNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:publisher != '')">PublisherPlaceNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>
	
	<!-- Issue -->
	<iso:pattern name="issue_rules" id="issue_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/issue']">
			<iso:report test="not(source:source/escidoc:sequence-number != '' or (source:source/escidoc:start-page != '' and source:source/escidoc:end-page != ''))">NoSequenceInformationGiven</iso:report>
			<iso:report test="not(dcterms:issued != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/issue']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/issue']/source:source">
			<iso:report test="not(dc:title != '')">SourceTitleNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>

	<!-- Journal -->
	<iso:pattern name="journal_rules" id="journal_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/journal']">
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/journal']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/journal']">
			<iso:report test="not(escidoc:publishing-info/dc:publisher != '')">PublisherNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:publisher != '')">PublisherPlaceNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>

	<!-- Series -->
	<iso:pattern name="series_rules" id="series_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/series']">
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/series']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/series']">
			<iso:report test="not(escidoc:publishing-info/dc:publisher != '')">PublisherNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:publisher != '')">PublisherPlaceNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>

	<!-- Paper -->
	<iso:pattern name="paper_rules" id="paper_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/paper']">
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
			<iso:report test="not(escidoc:total-number-of-pages != '')">TotalNumberOfPagesNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/escidoc/metadata/ves/publication-types/paper']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>

	<!-- Report -->
	<iso:pattern name="report_rules" id="report_rules">
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Report']">
			<iso:report test="not(dcterms:issued != '' or escidoc:published-online != '')">PublishingDateNotProvided</iso:report>
			<iso:report test="not(exists(escidoc:creator/person:person/organization:organization[escidoc-util:is-child(dc:identifier)]))">NoMaxPlanckAffiliation</iso:report>
			<iso:report test="not(dc:title != '')">TitleNotProvided</iso:report>
			<iso:report test="not(escidoc:total-number-of-pages != '')">TotalNumberOfPagesNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Report']/escidoc:creator[exists(person:person)]">
			<iso:report test="not(@role != '')">CreatorRoleNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:family-name != '')">CreatorFamilyNameNotProvided</iso:report>
			<iso:report test="not(person:person/escidoc:given-name != '')">CreatorGivennameNotProvided</iso:report>
		</iso:rule>
		<iso:rule context="publication:publication[@type = 'http://purl.org/eprint/type/Report']/source:source">
			<iso:report test="not(dc:title != '')">SourceTitleNotProvided</iso:report>
			<iso:report test="not(escidoc:publishing-info/escidoc:edition != '')">SourceEditionNotProvided</iso:report>
		</iso:rule>
	</iso:pattern>


</iso:schema>